<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود به سایت</title>
    <link rel="icon" href="media/siteimages/favicon.ico">
    <link rel="stylesheet" href="{% static 'bootstrap.rtl.min.css' %}" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="{% static 'css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/brands.css' %}" rel="stylesheet">
    <link href="{% static 'css/solid.css' %}" rel="stylesheet">
</head>
<body dir="rtl">
    <div class="py-5" style="height: 100vh; background-repeat: no-repeat;background-size: cover;background-image: url(media/siteimages/background.jpg) ;">
        <div class="w-100 h-100 d-flex justify-content-center align-content-center">
            <div class="bg-dark rounded rounded-3 text-light h-100 overflow-auto" style="width: 580px;">
                <div class="d-flex flex-column flex-nowrap my-5 px-5">
                    <h2 class="text-start mb-5">ورود یا ثبت نام</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <p class="text-danger visually-hidden">رمزعبور یا نام کاربری اشتباه است</p>
                        <div class="form-group">
                            <input type="text" name="username" class="form-control px-3 text-primary 
                            rounded rounded-0 bg-dark border-2 border-top-0 border-end-0 border-start-0"
                             placeholder="آدرس ایمیل یا نام کاربری" required>
                        </div>
                        <div class="form-group mt-3 position-relative">
                            <input type="password" name="password" class="form-control px-3 text-primary 
                            rounded rounded-0 bg-dark border-2 border-top-0 border-end-0 border-start-0"
                            placeholder="گذرواژه" required>
                            <i id="showpassword" class="fa-regular fa-eye top-0 mt-2 me-3 end-0 position-absolute" style="cursor: pointer;"></i>
                        </div>
                        <div class="mt-4 d-flex flex-column flex-sm-row w-100">
                            <div class="form-group m-auto ms-sm-0">
                                <input id="rememberme" type="checkbox" name="rememberme" class="form-control form-check-input form-check-inline mx-0 px-0">
                                <label for="rememberme">مرا بخاطر بسپار</label>
                            </div>
                            <a href="" class="mt-3 mx-auto m-sm-0 text-decoration-none text-white-50">رمز عبور خود را فراموش کرده اید ؟</a>
                        </div>
                        <div class="d-flex flex-column gap-3 justify-content-center align-items-center mt-5">
                            {% if form.errors%}
                            <p class="text-danger">{{ form.errors.password|striptags }}</p>
                            {% endif %}
                            <button class="btn btn-primary text-center py-2 px-1" style="width: 195px;" type="submit">ورود به سایت</button>
                            <a class="border border-2 border-primary text-center text-white text-decoration-none py-2 px-1" style="width: 195px;">بازگشت به سایت</a>
                        </div>
                    </form>
                    <p class="text-center mt-5">قبلا در آیوفیلم ثبت نام نکردید ؟ <a href="" class="text-decoration-none">ثبت نام کنید</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/loginvalidator.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script></body>
</html>