<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>بازیابی رمزعبور</title>
    <link href="{% static 'css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/brands.css' %}" rel="stylesheet">
    <link href="{% static 'css/solid.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap.rtl.min.css' %}" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body dir="rtl">
    <div id="modal" class="d-none top-0 bottom-0 d-flex justify-content-center start-0 end-0 position-fixed bg-dark" style="z-index: 1050;">
        <div class="d-flex flex-column mt-5 w-50 mb-auto bg-gray text-white position-relative">
            <div class="w-100 text-start">
                <button class="position-absolute m-0 p-0 text-light btn" style="right: -14px;;top: -20px;" aria-hidden="true" onclick="modalClose()"><i class="fa fa-times fs-2"></i></button>
            </div>
            <div class="my-4 text-center px-3">حساب شما با موفقیت ساخته شد و ایمیل فعال سازی به ایمیل شما ارسال شد</div>
        </div>
    </div>
    <div class="py-5" style="height: 100vh; background-repeat: no-repeat;background-size: cover;background-image: url(media/siteimages/background.jpg)">
        <div class="w-100 h-100 d-flex justify-content-center align-content-center">
            <div class="bg-dark rounded rounded-3 text-light h-100 overflow-auto" style="width: 580px;">
                <div class="d-flex flex-column flex-nowrap my-5 px-5">
                    <h2 class="text-start mb-5">باز یابی رمز عبور</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" name="email" class="form-control text-start pt-4 px-3 text-primary 
                            rounded rounded-0 bg-dark border-2 border-top-0 border-end-0 border-start-0"
                             placeholder="ایمیل خود را وارد کنید" required>
                            <p class="invalid-feedback">حسابی با یافت نشد</p>
                        </div>
                        <div class="d-flex flex-column gap-3 justify-content-center align-items-center mt-5">
                            <button class="btn btn-primary text-center py-2 px-1" style="width: 195px;" type="submit">بازیابی رمزعبور</button>
                            <a class="border border-2 border-primary text-center text-white text-decoration-none py-2 px-1" style="width: 195px;">بازگشت به سایت</a>
                            <a class="border border-2 border-primary text-center text-white text-decoration-none py-2 px-1" style="width: 195px;">ورود / عضویت</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/registervalidator.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script></body>
</html>