{% extends 'base.html' %}
    {% load static %}
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user panel</title>
    <link rel="stylesheet" href="{% static 'css/user_panel.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_details.css' %}">
    {% endblock head %}
    {% block body %}
    <div id="container-content" class="mx-3">
         <div class="ms-3 mb-2 d-md-none">
        <i class="fa fa-bars text-light fs-1 w-100 h-100 m-1" id="navBottom-dropdown" onclick="userModal()" style="cursor: pointer;" aria-hidden="true"></i>
    </div>
        {% if messages %}
        <div id="message-modal" class="top-0 bottom-0 d-flex justify-content-center start-0 end-0 position-fixed bg-dark" style="z-index: 1050;">
            <div class="d-flex flex-column mt-5 w-50 mb-auto bg-gray text-white position-relative">
                <div class="w-100 text-start">
                    <button class="position-absolute m-0 p-0 text-light btn" style="right: -14px;;top: -20px;" aria-hidden="true" onclick="messageModal()"><i class="fa fa-times fs-2"></i></button>
                </div>
                {% for msg in messages %}
                <div class="my-4 text-center px-3">{{ msg }}</div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="d-flex flex-row justify-content-between">
            {% include "user_panel_userbar.html" %}
            <div class="col-12 col-md-8 m-0 mx-md-3">
                <div class="d-flex flex-column">
                    <div class="bg-gray px-5">
                        <div class="d-flex flex-column justify-content-start align-items-center">
                            <form action="" class="w-100 me-auto text-white" method="post">
                                {% csrf_token %}
                                <div class="form-group d-flex flex-md-row flex-column px-4 py-3 justify-content-between">
                                    <label for="password" class="col-4 form-label col-12 col-sm-3 mt-md-2">رمزعبور فعلی</label>
                                    <div class="col-12 col-md-6 me-auto">
                                      <input name="password" type="password" required class="form-control form-control-plaintext border-1 border-bottom text-primary bg-dark mx-auto {% if form.errors.password %}is-invalid{% endif %}" id="password" placeholder="رمز عبور فعلی" value="" autocomplete="off">
                                      <p class="invalid-feedback">{% if form.errors.password %}{{ form.errors.password|striptags }}{% else %}{% endif %}</p>
                                    </div>
                                </div>
                                <div class="form-group d-flex flex-md-row flex-column px-4 py-3 justify-content-between">
                                    <label for="password1" class="col-4 form-label col-12 col-sm-3 mt-md-2">رمزعبور جدید</label>
                                    <div class="col-12 col-md-6 me-auto">
                                      <input name="password1" type="text" required class="form-control form-control-plaintext border-1 border-bottom text-primary bg-dark mx-auto {% if form.errors.password1 %}is-invalid{% endif %}" id="password1" placeholder="رمز عبور جدید" value="">
                                      <p class="invalid-feedback">{% if form.errors.password1 %}{{ form.errors.password1|striptags }}{% else %}مز عبور باید حداقل ۸ کاراکتر و یک حرف بزرگ و یک عدد داشته باشد{% endif %}</p>
                                    </div>
                                </div>
                                <div class="form-group d-flex flex-md-row flex-column px-4 py-3 justify-content-between">
                                    <label for="password2" class="col-4 form-label col-12 col-sm-3 mt-md-2">تایید رمزعبور</label>
                                    <div class="col-12 col-md-6 me-auto">
                                      <input name="password2" type="password" required class="form-control form-control-plaintext border-1 border-bottom text-primary bg-dark mx-auto {% if form.errors.password2 %}is-invalid{% endif %}" id="password2" placeholder="تایید رمز عبور" value="">
                                      <p class="invalid-feedback">رمز عبور مطابقت ندارد</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="d-flex flex-column w-100 text-white">
                                    <div class="col-3 d-flex flex-row w-100 align-items-center">
                                        <div class="text-white">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-info-circle mb-3 me-3" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                              </svg>
                                        </div>
                                        <p>راهنمای تغییر رمز عبور</p>
                                    </div>
                                    <ol class="ms-5" style="font-family: Arial, Helvetica, sans-serif;font-size: 15px;">
                                        <li>دارای حداقل 8 کاراکتر</li>
                                        <li>دارای حداقل یک عدد</li>
                                        <li>دارای حداقل یک حروف کوچیک و بزرگ انگلیسی</li>
                                    </ol>
                                </div>
                                <div class="w-75 text-start mt-3">
                                <button class="btn btn-warning col-md-6 col-lg-4 mb-4 mx-2">تغییر رمزعبور</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="user-modal" class="d-none d-md-none top-0 bottom-0 d-flex justify-content-start start-0 end-0 position-fixed bg-dark" style="z-index: 1050;">
        {% include 'user_panel_mobile_userbar.html' %}
    </div>
    {% endblock body %}
    {% block script %}
    <script src="{% static 'js/user_panel.js' %}" type="text/javascript"></script>
    {% endblock script%}
