{% extends 'base.html' %}
    {% load static %}
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user panel</title>
    <link rel="stylesheet" href="{% static 'css/user_panel.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_details.css' %}">
    {% endblock head %}
    {% block body %}
    <div id="container-content" class="mx-3">
        <div class="d-flex flex-row justify-content-between">
            {% include "user_panel_userbar.html" %}
            <div class="col-12 col-md-8 m-0 mx-md-3">
                <div class="d-flex flex-column">
                    <div class="bg-gray">
                        <form action="" class="w-100 me-auto text-white" method="post">
                            {% csrf_token %}
                            <div class="form-group d-flex flex-md-row flex-column px-4 py-3 justify-content-between">
                                <label for="file" class="col-4 col-form-label">عکس</label>
                                <div class="col-12 col-md-6 me-auto" style="font-family: Arial, Helvetica, sans-serif;">
                                    <label for="file" class="btn btn-primary text-white">انتخاب فایل</label>
                                    <input name="avatar" type="file" class="form-control mx-auto" hidden id="file" value="{{ form.avatar.value }}">
                                    <p class="d-inline">هیچ فایلی انتخاب نشده است</p>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-md-row flex-column px-4 py-3 justify-content-between">
                                <label for="username" class="col-4 form-label col-12 col-sm-3 mt-md-2">نام کاربری</label>
                                <div class="col-12 col-md-6 me-auto">
                                  <input name="username" id="username" type="text" required class="form-control form-control-plaintext border-1 border-bottom text-primary bg-dark mx-auto" placeholder="نام کاربری" value="{{ form.username.value }}">
                                </div>
                            </div>
                            <div class="form-group d-flex flex-md-row flex-column px-4 py-3 justify-content-between">
                                <label for="email" class="col-4 form-label col-12 col-sm-3 mt-md-2">ایمیل</label>
                                <div class="col-12 col-md-6 me-auto">
                                  <input name="email" id="email" type="email" class="form-control text-start form-control-plaintext border-1 border-bottom text-primary bg-dark mx-auto" disabled placeholder="ایمیل" value="{{ form.email.value }}">
                                </div>
                            </div>
                            <div class="form-group d-flex flex-md-row flex-column px-4 py-3 justify-content-between">
                                <label for="name" class="col-4 form-label col-12 col-sm-3 mt-md-2">نام</label>
                                <div class="col-12 col-md-6 me-auto">
                                  <input name="first_name" id="name" type="text" class="form-control text-start form-control-plaintext border-1 border-bottom text-primary bg-dark mx-auto" placeholder="نام" value="{{ form.first_name.value }}">
                                </div>
                            </div>
                            <div class="form-group d-flex flex-md-row flex-column px-4 py-3 justify-content-between">
                                <label for="lastName" class="col-4 form-label col-12 col-sm-3 mt-md-2">نام خانواگی</label>
                                <div class="col-12 col-md-6 me-auto">
                                  <input name="last_name" id="lastName" type="text" class="form-control text-start form-control-plaintext border-1 border-bottom text-primary bg-dark mx-auto" placeholder="نام خانوادگی" value="{{ form.last_name.value }}">
                                </div>
                            </div>
                            <div class="form-group d-flex flex-md-row flex-column px-4 py-3 justify-content-between">
                                <label for="city" class="col-4 form-label col-12 col-sm-3 mt-md-2">شهر</label>
                                <div class="col-12 col-md-6 me-auto">
                                  <input name="city" id="city" type="text" class="form-control form-control-plaintext border-1 border-bottom text-primary bg-dark mx-auto" placeholder="شهر" value="{{ form.city.value }}">
                                </div>
                            </div>
                            <div class="form-group d-flex flex-md-row flex-column px-4 py-3 justify-content-between">
                                <label for="birth-day" class="col-4 form-label col-12 col-sm-3 mt-md-2">سن</label>
                                <div class="col-12 col-md-6 me-auto">
                                  <input name="age" id="birth-day" type="text" class="form-control form-control-plaintext border-1 border-bottom text-primary bg-dark mx-auto normal-font text-start" placeholder="سن" value="{{ form.age.value }}">
                                </div>
                            </div>
                            <div class="form-group d-flex flex-md-row flex-column px-4 py-3 justify-content-between">
                                <label for="sex" class="col-4 form-label col-12 col-sm-3 mt-md-2">جنسیت</label>
                                <div class="col-12 col-md-6 me-auto">
                                  <select name="sex" id="sex" class="form-control form-control-plaintext border-1 border-bottom text-primary bg-dark mx-auto" value="">
                                    {% for item in form.sex %}
                                    {{ item }}
                                    {% endfor %}
                                  </select>
                                </div>
                            </div>
                            <hr>
                            <div class="w-75 text-center mt-3">
                            <button class="btn btn-warning col-md-6 col-lg-4 mb-4 mx-2">بروزرسانی پروفایل</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="user-modal" class="d-none d-md-none top-0 bottom-0 d-flex justify-content-start start-0 end-0 position-fixed bg-dark" style="z-index: 1050;">
            {% include 'user_panel_mobile_userbar.html' %}
        </div>
    {% endblock body %}
        
        {% block script %}
        <script src="{% static 'js/user_panel.js' %}" type="text/javascript"></script>
        {% endblock script %}