{% extends 'base.html' %}
    {% load static %}
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ساخن تیکت - آیوفیلم</title>
    <link rel="stylesheet" href="{% static 'css/user_panel.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_details.css' %}">
    {% endblock head %}
    {% block body %}
    <div id="container-content" class="mx-3">
        {% if messages %}
        <div id="message-modal" class="top-0 bottom-0 d-flex justify-content-center start-0 end-0 position-fixed bg-dark" style="z-index: 1050;">
            <div class="d-flex flex-column mt-5 w-50 mb-auto bg-gray text-white position-relative">
                <div class="w-100 text-start">
                    <button class="position-absolute m-0 p-0 text-light btn" style="right: -14px;;top: -20px;" aria-hidden="true" onclick="messageModal()"><i class="fa fa-times fs-2"></i></button>
                </div>
                {% for msg in messages %}
                <div class="my-4 text-center px-3">{{ msg }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="ms-3 mb-2 d-md-none">
        <i class="fa fa-address-card text-light fs-1 w-100 h-100 m-1" id="navBottom-dropdown" onclick="userModal()" style="cursor: pointer;" aria-hidden="true"></i>
    </div>
        <div class="d-flex flex-row justify-content-between">
            {% include 'user_panel_userbar.html' %}
            <div class="col-12 col-md-8 m-0 mx-md-3">
                <div class="d-flex flex-column text-white">
                    <h4>ایجاد تیکت</h4>
                    <div class="bg-gray">
                        <div class="d-flex flex-column justify-content-start align-items-center">
                            <form action="" class="w-75 me-auto" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group d-flex flex-md-row flex-column px-4 py-3 justify-content-between">
                                    <label for="department" class="col-4 col-form-label">دپارتمان</label>
                                    <div class="col-12 col-md-6 me-auto">
                                      <select name="department" type="text" required class="form-control form-text mx-auto" id="department">
                                        <option value="">یک گزینه را انتخاب کنید</option>
                                        {% for option in form.department %}
                                            {% if forloop.counter0 > 0 %}
                                                {{ option }}
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group d-flex flex-md-row flex-column px-4 py-3 justify-content-between">
                                    <label for="subject" class="col-4 col-form-label">موضوع</label>
                                    <div class="col-12 col-md-6 me-auto">
                                      <input name="subject" type="text" required class="form-control form-text mx-auto" id="subject" value="">
                                    </div>
                                </div>
                                <div class="form-group d-flex flex-md-row flex-column px-4 py-3 justify-content-between">
                                    <label for="message" class="col-4 col-form-label">پیغام</label>
                                    <div class="col-12 col-md-6 me-auto">
                                      <textarea name="message" type="textarea" required class="form-control form-text mx-auto" id="message" value=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group d-flex flex-md-row flex-column px-4 py-3 justify-content-between">
                                    <label for="file" class="col-4 col-form-label">فایل</label>
                                    <div class="col-12 col-md-6 me-auto" style="font-family: Arial, Helvetica, sans-serif;">
                                        <label for="file" class="btn btn-primary text-white">انتخاب فایل</label>
                                        <input name="file" type="file" class="form-control mx-auto" hidden id="file" value="">
                                        <p>هیچ فایلی انتخاب نشده است</p>
                                    </div>
                                </div>
                                <div class="w-75 text-start">
                                <button class="btn btn-warning col-8 col-sm-5 col-md-4 mb-4 mx-2">ارسال تیکت</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div id="user-modal" class="d-none d-md-none top-0 bottom-0 d-flex justify-content-start start-0 end-0 position-fixed bg-dark" style="z-index: 1050;">
    {% include 'user_panel_mobile_userbar.html' %}
</div>
{% endblock body %}
{% block script %}
<script src="{% static 'js/user_panel.js' %}" type="text/javascript"></script>
{% endblock script %}