<div id="user-bar" class="overflow-auto d-none d-md-block col-md-4 mb-5 col-lg-3">
    <div class="d-flex flex-column bg-gray border-1 border-bottom border-warning">

        <div class="text-center text-white" style="font-family: Arial, Helvetica, sans-serif;">
            <img style="width: 120px; height: 120px;" class="img-fluid rounded rounded-circle mt-3" src="{{ user.avatar }}" alt="">
            <p class="mb-0 mt-1 d-b">{{ user.username }}</p>
            <p class="mb-0 mt-1 d-b">{{ user.email }}</p>
            <div class="d-flex flex-row justify-content-center gap-4 mt-4">
                <a href="{% url 'user-edit-account' %}" class="border border-3 border-primary rounded rounded-pill text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                  </svg>
                </a>
                <a href="{% url 'notifications' %}" class="position-relative border border-3 border-primary rounded rounded-pill text-warning"><svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                  </svg>{% if notifications_count.count %}<span class="position-absolute border border-1 d-flex justify-content-center align-items-center p-2 bg-warning text-dark badge-circle">{{notifications_count.count}}</span>{%endif%}
                </a>
            </div>
        </div>
        <div class="fs-5 text-white mt-5">
            <ul id="button-list" class="list-unstyled">
                <li class="{% if '/panel/' == request.path %} bg-dark-gray {% endif %}">
                    <a href="{% url 'user-panel' %}" class="text-decoration-none text-warning mx-4 d-flex py-3 {% if '/panel/' == request.path %} text-purple {% endif %}"><i class="fa fa-th fs-3 float-start me-3" aria-hidden="true"></i>
                        داشبورد</a>
                </li>
                <li class="{% if 'comments' in request.path %} bg-dark-gray {% endif %}">
                    <a href="{% url 'comments' %}" class="text-decoration-none text-warning mx-4 d-flex py-3 {% if 'comments' in request.path %} text-purple {% endif %}"><i class="fa fa-comment float-start me-3" aria-hidden="true"></i>
                    نظرات من</a>
                </li>
                <li class="{% if 'favorite' in request.path %} bg-dark-gray {% endif %}">
                    <a href="{% url 'favorite' %}" class="text-decoration-none text-warning mx-4 d-flex py-3 {% if 'favorite' in request.path %} text-purple {% endif %}"><i class="fa fa-heart float-start me-3" aria-hidden="true"></i>
                        عناوین مورد عطاقه</a>
                </li>
                <li class="{% if 'bookmark' in request.path %} bg-dark-gray {% endif %}">
                    <a href="{% url 'bookmarks' %}" class="text-decoration-none text-warning mx-4 d-flex py-3 {% if 'bookmark' in request.path %} text-purple {% endif %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="currentColor" class="bi bi-bookmark-fill float-start me-3" viewBox="0 0 16 16">
                        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2"/>
                      </svg></i>
                    لیست تماشا</a>
                </li>
                <li class="{% if 'ticket' in request.path %} bg-dark-gray {% endif %}">
                    <a href="{% url 'ticket-list' %}" class="text-decoration-none text-warning mx-4 d-flex py-3 {% if 'ticket' in request.path %} text-purple {% endif %}"><i class="fa fa-ticket float-start me-3" aria-hidden="true"></i>
                        تیکت</a>
                </li>
                <li class="{% if 'change-password' in request.path %} bg-dark-gray {% endif %}">
                    <a href="{% url 'change-password' %}" class="text-decoration-none text-warning mx-4 d-flex py-3 {% if 'change-password' in request.path %} text-purple {% endif %}"><i class="fa fa-key float-start me-3" aria-hidden="true"></i>
                        تغییر گذرواژه</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}" class="text-decoration-none text-warning mx-4 d-flex py-3"><i class="fa fa-sign-out float-start me-3" aria-hidden="true"></i>
                        خروج</a>
                </li>
            </ul>
        </div>
    </div>
</div>