{% extends 'base.html' %}
    {% load static %}
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تیکت - آیو فیلم</title>
    <link rel="stylesheet" href="{% static 'css/user_panel.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_details.css' %}">
    {% endblock head %}
{% block body %}
<div id="container-content" class="mx-3">
    <div class="d-flex flex-row justify-content-between">
        {% include 'user_panel_userbar.html' %}
        <div class="col-12 col-md-8 m-0 mx-md-3">
            <div class="d-flex flex-row gap-2  gap-sm-5">
                <div class="bg-gray text-white py-3 px-2 fs-5">موضوع : <span>{{ ticket.ticket__subject }}</span></div>
                <div class="bg-gray text-white py-3 px-2 fs-5">دیپارتمنت : <span>{{ ticket.ticket__department }}</span></div>
            </div>
                <div id="comment-menu" class="">
                    <div class="bg-gray d-flex flex-column align-items-center mt-4">
                        <form action="" class="d-flex flex-column w-100 mt-3 ms-3 mb-4" method="post">
                            <textarea name="comment" type="textarea" class="form-control px-3 text-primary border-0
                            rounded rounded-3 bg-dark w-75" style="min-height: 90px;max-height: 70px" placeholder="پاسخ خود را بنویسید"></textarea>
                            <div class="d-flex mt-4">
                                <button class="btn btn-primary fs-5">ارسال پاسخ</button>
                            </div>
                        </form>
                        <div class="d-flex flex-column w-100">
                            {% for ticket_details in tickets_replies %}
                            <div class="border border-1 m-3 pb-4 border-primary rounded rounded-3">
                                <div class="text-white d-flex flex-column p-2">
                                    <ul class="list-unstyled d-block mb-1">
                                        <li class="float-start mx-1 text-muted"><span>{{ ticket_details.created_at|timeuntil }} پیش</li>
                                    </ul>
                                    <section class="px-1 w-100 d-inline" style="overflow-wrap: break-word;">
                                        {{ ticket_details.message }}
                                    </section>
                                    {% for reply in tickets_admin_replies %}
                                    {% if reply.ticket__id == ticket_details.id %}
                                    <div class="d-flex flex-column border border-1 border-secondary m-3 mb-1 px-2 py-3">
                                        <ul class="list-unstyled d-block mb-1">
                                            <li class="float-start mx-1">پاسخ ادمین </li>
                                            <li class="float-start mx-1 text-muted">{{ reply.created_at|timeuntil }} روز قبل</li>
                                        </ul>
                                        <section class="px-1 w-100" style="overflow-wrap: break-word;">
                                            {{ reply.message }}
                                        </section>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block script %}
<script src="js/user_panel.js" type="text/javascript"></script>
{% endblock script %}
    