{% extends 'base.html' %}
    {% load static %}
    {% load filters %}
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پنل کاربری</title>
    <link rel="stylesheet" href="{% static 'css/user_panel.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_details.css' %}">
    {% endblock head %}
</head>
<body dir="rtl" class="" style="background-color: #131415; transition: 0.8s; ">
    {% block body %}
    <div class="ms-3 mb-2 d-md-none">
        <i class="fa fa-address-card text-light fs-1 w-100 h-100 m-1" id="navBottom-dropdown" onclick="userModal()" style="cursor: pointer;" aria-hidden="true"></i>
    </div>
    <div id="container-content" class="mx-3">
        <div class="d-flex flex-row justify-content-between">
            {% include "user_panel_userbar.html" %}
            <div class="col-12 col-md-8 m-0 mx-md-3">
                <div class="d-flex flex-column">
                    <div class="bg-gray px-5 text-white">
                        <h4 class="mt-3">اعلانات</h4>
                        {% for notification in notifications %}
                        <div class="text-white d-flex my-2 flex-column p-2 border border-1 border-primary">
                            <p class="float-start mx-1 m-0">{{ notification.subject }}</p>
                            <ul class="list-unstyled d-block mb-1">
                                <li class="float-start mx-1 text-muted">{{ notification.created_at|timesince }} قبل</li>
                            </ul>
                            <section class="px-1 w-100 d-inline" style="overflow-wrap: break-word;">
                                {{ notification.message }}
                            </section>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="user-modal" class="d-none d-md-none top-0 bottom-0 d-flex justify-content-start start-0 end-0 position-fixed bg-dark" style="z-index: 1050;">
            {% include 'user_panel_mobile_userbar.html' %}
        </div>
    </div>
    {% endblock body %}
    {% block script %}
    <script src="{% static 'js/user_panel.js' %}" type="text/javascript"></script>
    {% endblock script%}
</body>
</html>