<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock head %} 
    <link rel="icon" href="media/siteimages/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body dir="rtl" style="background-color: #131415; transition: 0.8s; " class="container-sm">
    {% include "navbar.html" %}
    {% block body %}
    {% endblock body %}
    {% include "navdropdown.html" %}
    {% block script %}
    {% endblock script %}
</body>
</html>