{% extends 'base.html' %}
{% load static %}
{% load filters %}
    {% block head %}
    <meta name="keywords" content="دانلود فیلم, دانلود انیمه, دانلود سریال کره ای , دانلود سریال ترکی, دانلود رایگان سریال, دانلود زیرنویس فارسی, دانلود فیلم با لینک مستقیم">
    <meta name="description" content="رسانه تفریحی آیوفیلم، دانلود انواع فیلم و سریال، دانلود انیمه، دانلود سریال کره ای، دانلود سریال ترکی">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>آیوفیلم – دانلود انیمه، دانلود فیلم، دانلود سریال کره ای</title>
    <link href="{% static '/css/product_list.css' %}" rel="stylesheet">
    {% endblock head %}
    {% block body %}
        <div class="mt-4" style="height: 100vh;">
            <div class="text-warning position-relative d-flex justify-content-between align-items-center">
                <i class="fa fa-star fs-4 top-0 start-0 position-absolute"></i>
                <h2 class="d-inline fs-3" style="margin-right: 30px;">پیشنهاد ویژه آیوفیلم</h2>
            </div>
            <div class="row flex-row flex-wrap g-4 g-md-1 mt-5">
                {% for movie in movies|order_by_merge_sort_descending:'favorite_count'|slice:5 %}
                <div class="position-relative product-box gap-1">
                    <a href="" class="d-block position-relative w-100 h-100" id="image-box">
                        <p class="bg-light text-dark opacity-100 rounded-top rounded-pill top-0 position-absolute normal-font" style="left: 5%;">+{{ movie.age_limit }}</p>
                        <p class="bg-light text-dark opacity-100 rounded rounded-pill position-absolute m-0 normal-font" style="right: 5%;top: 1%;">S2 EP12</p>
                        <p class="bg-light text-dark opacity-100 rounded rounded-3 position-absolute m-0 normal-font" style="right: 5%;bottom: 3%; font-size: 14px;">{{ movie.language }}</p>
                        <p class="bg-light text-dark opacity-100 rounded rounded-3 position-absolute m-0 normal-font" style="left: 5%;bottom: 3%;">{{ movie.imdb_rate }}</p>
                        <img  class="img-fluid w-100 h-100" src="/media/{{ movie.image }}"
                        style="height: 300px; border-radius: 15px;" alt="">
                        <div class="d-none w-100 h-100 top-0 d-flex justify-content-center align-items-center position-absolute text-white normal-font product-name-box">
                            <section class="link-warning w-70 text-center" style="overflow-wrap: break-word;">{{ movie.name}} : {{ movie.year__year}}</section>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="text-muted bg-gradient position-relative d-flex align-items-center mt-5">
                <h1 class="d-inline ms-2 fs-3">به تازگی در آیوفیلم</h1>
                <button class="btn btn-warning ms-auto border-cornered">مشاهده بیشتر></button>
            </div>
            <div class="row flex-row flex-nowrap mt-5">
                {% for movie in movies|order_by_merge_sort:'created_at'|slice:5 %}
                <div class="position-relative product-box gap-1">
                    <a href="" class="d-block position-relative w-100 h-100" id="image-box">
                        <p class="bg-light text-dark opacity-100 rounded-top rounded-pill top-0 position-absolute normal-font" style="left: 5%;">+{{ movie.age_limit }}</p>
                        <p class="bg-light text-dark opacity-100 rounded rounded-pill position-absolute m-0 normal-font" style="right: 5%;top: 1%;">S2 EP12</p>
                        <p class="bg-light text-dark opacity-100 rounded rounded-3 position-absolute m-0 normal-font" style="right: 5%;bottom: 3%; font-size: 14px;">{{ movie.language }}</p>
                        <p class="bg-light text-dark opacity-100 rounded rounded-3 position-absolute m-0 normal-font" style="left: 5%;bottom: 3%;">{{ movie.imdb_rate }}</p>
                        <img  class="img-fluid w-100 h-100" src="/media/{{ movie.image }}"
                        style="height: 300px; border-radius: 15px;" alt="">
                        <div class="d-none w-100 h-100 top-0 d-flex justify-content-center align-items-center position-absolute text-white normal-font product-name-box">
                            <section class="link-warning w-70 text-center" style="overflow-wrap: break-word;">{{ movie.name}} : {{ movie.year__year}}</section>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% for category in categories %}
            <div class="text-muted bg-gradient position-relative d-flex align-items-center mt-5">
                <h2 class="d-inline ms-2 fs-3">{{category.title}} های بروز شده</h2>
                <a class="btn btn-warning ms-auto border-cornered">مشاهده بیشتر></a>
            </div>
            <div class="row flex-row flex-nowrap mt-5">
                {% for movie in movies|filter_by_category:category.slug %}
                {% if movie.category__slug == category.slug and forloop.counter <= 5 %}
                <div class="position-relative product-box gap-1">
                    <a href="" class="d-block position-relative w-100 h-100" id="image-box">
                        <p class="bg-light text-dark opacity-100 rounded-top rounded-pill top-0 position-absolute normal-font" style="left: 5%;">+{{ movie.age_limit }}</p>
                        <p class="bg-light text-dark opacity-100 rounded rounded-pill position-absolute m-0 normal-font" style="right: 5%;top: 1%;">S2 EP12</p>
                        <p class="bg-light text-dark opacity-100 rounded rounded-3 position-absolute m-0 normal-font" style="right: 5%;bottom: 3%; font-size: 14px;">{{ movie.language }}</p>
                        <p class="bg-light text-dark opacity-100 rounded rounded-3 position-absolute m-0 normal-font" style="left: 5%;bottom: 3%;">{{ movie.imdb_rate }}</p>
                        <img  class="img-fluid w-100 h-100" src="/media/{{ movie.image }}"
                        style="height: 300px; border-radius: 15px;" alt="">
                        <div class="d-none w-100 h-100 top-0 d-flex justify-content-center align-items-center position-absolute text-white normal-font product-name-box">
                            <section class="link-warning w-70 text-center" style="overflow-wrap: break-word;">{{ movie.name}} : {{ movie.year__year}}</section>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
    {% endblock body %}
    {% block script %}
    <script src="{% static 'js/product_list.js' %}" type="text/javascript"></script>
    {% endblock script %}