<div id="dropdown-menu" class="d-none row flex-row" style="background: rgba(31, 36, 48, 1)">
    <div class="col-2 d-flex flex-column">
        <button class="btn text-white mt-3 fs-5 fs-5">فیلم و سریال</button>
        <button class="btn text-white mt-3 fs-5 fs-5">انیمه</button>
        <button class="btn text-white mt-3 fs-5 fs-5">ایرانی</button>
        <button class="btn text-white mt-3 fs-5 fs-5">در حال پخش</button>
    </div>
    <div id="left-menu" class="col-10 d-flex flex-column">
        <div class="border-1 border-bottom">
            <button class="text-center text-white w-50 btn active pt-3 fw-bold fs-6">ژانر</p>
            <button class="text-center text-white w-50 btn active pt-3 fw-bold fs-6">سال</p>
        </div>
        <div>
            <div class="w-100 d-flex flex-wrap text-center mt-4 gap-4 justify-content-between align-items-start">
                <a href="" class="link-warning text-decoration-none d-block" style="width: 16%;">اکشن</a>
                <a href="" class="link-warning text-decoration-none d-block" style="width: 16%;">اکشن</a>
                <a href="" class="link-warning text-decoration-none d-block" style="width: 16%;">اکشن</a>
                <a href="" class="link-warning text-decoration-none d-block" style="width: 16%;">اکشن</a>
                <a href="" class="link-warning text-decoration-none d-block" style="width: 16%;">اکشن</a>
            </div>
            <div class="d-none w-100 d-flex flex-wrap text-center mt-4 gap-4 justify-content-between">
                <a href="" class="link-warning text-decoration-none d-block" style="width: 16%;">اکشن</a>
                <a href="" class="link-warning text-decoration-none d-block" style="width: 16%;">اکشن</a>
                <a href="" class="link-warning text-decoration-none d-block" style="width: 16%;">اکشن</a>
                <a href="" class="link-warning text-decoration-none d-block" style="width: 16%;">اکشن</a>
                <a href="" class="link-warning text-decoration-none d-block" style="width: 16%;">اکشن</a>
            </div>
        </div>
    </div>
</div>