
<div id="dropdown-menu" class="d-none row flex-row mx-5 bg-darkcyan" >
    <div class="col-2 d-none d-md-flex flex-column bg-darkcyan" >
        {% for category in categories %}
        <button id="{{ category.title }}" class="{% if forloop.counter == 1%}bg-dark {% endif %} btn text-white py-3 fs-5 fs-5" onclick="showItems(event, '{{ category.title }}-list')" onmouseover="showItems(event, '{{ category.title }}-list')">{{ category.title }}</button>
        {% endfor%}
    </div>
    <div id="left-menu" class="col-10 d-none d-md-block bg-darkcyan">
        {% for category in categories %}
        <div id="{{ category.title }}-list" class="{% if forloop.counter > 1 %}d-none {% endif %}d-flex flex-column">
            <div class="border-1 border-bottom d-flex flex-row">
                <button class="text-center text-white btn shadow-none w-50 pt-3 fw-bold fs-6 bg-dark" onmouseover="showItems(event,'{{ category.title }}-genre')" onclick="showItems(event,'{{ category.title }}-genre')">ژانر</button>
                <button class="text-center text-white btn shadow-none w-50 pt-3 fw-bold fs-6" onmouseover="showItems(event,'{{ category.title }}-year')" onclick="showItems(event,'{{ category.title }}-genre')">سال</button>
            </div>
            <div>
                <div id="{{ category.title }}-genre" class="w-100 d-flex flex-wrap flex-wrap text-center justify-content-between align-items-start">
                    {% for genre in genres %}
                        {% if genre.movie__category == category.id %}
                            <a href="" class="link-warning text-decoration-none d-block py-3 border-nt1-child mx-auto" style="width: 20%;">{{ genre.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="{{ category.title }}-year" class="d-none w-100 d-flex flex-wrap text-center justify-content-between align-items-start">
                    
                    {% for year in years %}
                    {% if year.movie__category == category.id%}
                        <a href="" class="link-warning text-decoration-none d-block py-2 border-nt1-child fs-5" style="width: 20%;">{{ year.year }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div id="genre" class=" d-flex flex-column d-none">
            <div class="border-1 border-bottom d-flex flex-row">
                <button class="text-center text-white btn shadow-none w-50 pt-3 fw-bold fs-6 bg-dark" onmouseover="showItems(event,'genre')" onclick="showItems(event,'genre')">ژانر</button>
                <button class="text-center text-white btn shadow-none w-50 pt-3 fw-bold fs-6" onmouseover="showItems(event,'year')" onclick="showItems(event,'genre')">سال</button>
            </div>
        </div>
    </div>
    <div class="d-none d-md-flex flex-wrap flex-row justify-content-between gap-2 bg-darkcyan col-12 mt-3 mb-2">
        {% for category in categories %}
        <a id="movie" class="btn text-center col-2 text-white bg-lightdarkcyan py-3 fs-5 fs-5">{{ category.title }}</a>
        {% endfor %}
    </div>
<div id="mobile-menu" class="accordion d-md-none gap-2 d-flex flex-column col-12 align-items-center text-white">
    {% for category in categories %}
        <a id="{{ category.title }}" class="col-12 bg-gray text-center text-decoration-none text-white link-warning py-3 fs-5 fs-5">{{ category.title }}</a>
        {% endfor%}
    <div class="d-flex gap- flex-column align-items-center w-100">
        <button type="button" data-toggle="collapse" data-target="#mobile-ongoing" class="col-12 shadow-none btn btn-primary">در حال پخش
            <i class="fa fa-angle-down float-end h-100 pt-1" aria-hidden="true"></i>
        </button>
        <div class="col-10 collapse" id="mobile-ongoing" data-parent="#mobile-menu">
            {% for category in categories %}
                <a href="" class="d-block bg-gray my-1 text-center text-white py-3 fs-5 fs-5 text-decoration-none link-warning">{{ category.title }}</a>
            {% endfor%}
        </div>
    </div>
    <div class="d-flex gap- flex-column align-items-center w-100">
        <button type="button" data-toggle="collapse" data-target="#mobile-genre" class="col-12 shadow-none btn btn-primary">ژانر
            <i class="fa fa-angle-down float-end h-100 pt-1" aria-hidden="true"></i>
        </button>
        <div class="col-10 collapse mt-2" id="mobile-genre" data-parent="#mobile-menu">
            {% for category in categories %}
                <button type="button" data-toggle="collapse" data-target="#mobile-{{ category.title }}-genre-items" class="col-12 shadow-none btn btn-primary">{{ category.title }}
                    <i class="fa fa-angle-down float-end h-100 pt-1" aria-hidden="true"></i>
                </button>
                <div class="col-12 collapse" id="mobile-{{ category.title }}-genre-items" data-parent="#mobile-genre-movie">
                    {% for genre in genres %}
                        {% if genre.movie__category == category.id %}
                            <a href="" class="d-block bg-gray my-1 text-center text-white py-3 fs-5 fs-5 text-decoration-none link-warning">{{ genre.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor%}
        </div>
    </div>
    <div class="d-flex gap- flex-column align-items-center w-100">
        <button type="button" data-toggle="collapse" data-target="#mobile-year" class="col-12 shadow-none btn btn-primary">سال
            <i class="fa fa-angle-down float-end h-100 pt-1" aria-hidden="true"></i>
        </button>
        <div class="col-10 collapse mt-2" id="mobile-year" data-parent="#mobile-menu">
            {% for category in categories %}
                <button type="button" data-toggle="collapse" data-target="#mobile-{{ category.title }}-year-items" class="col-12 shadow-none btn btn-primary">{{ category.title }}
                    <i class="fa fa-angle-down float-end h-100 pt-1" aria-hidden="true"></i>
                </button>
                <div class="col-12 collapse" id="mobile-{{ category.title }}-year-items" data-parent="#mobile-year">
                    {% for year in years %}
                        {% if year.movie__category == category.id %}
                            <a href="" class="d-block bg-gray my-1 text-center text-white py-3 fs-5 fs-5 text-decoration-none link-warning">{{ year.year }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor%}
        </div>
    </div>
</div>
</div>