@media only screen and (min-width: 770px) {
    #container-content{
        margin-top: 110px;
    }
}

@media only screen and (max-width: 770px) {
    #container-content{
        margin-top: 10px;
    }
}

.badge-circle{
    top: -14%;
    right: -5%;
    border-radius:
    100%; width: 20%;
    height: 20%;
}